<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>


{#        <link rel="icon" href="http://monisho.com/static/favicon.ico">#}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>


    <body>
        <main>
            {% block content %}

                <p>{{ lecture }}</p>
                {{ lecture.description | safe }}

            {% endblock %}
        </main>
    </body>

</html>